/*** General ***/

/* Estilos de reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos para los botones */
button {
    background-color: inherit;
    color: inherit;
    text-transform: uppercase;
}
/* Estilos para los inputs */
input {
    background-color: inherit;
    color: inherit;
}
/* Estilos para los bordes*/
.bordes {
    border: #39ff14 1px solid;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.7);
}
/* Estilos para centrar elementos */
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Estilos para columnas */
.columna {
    display: flex;
    flex-direction: column;
}
/* Estilos para grillas de 3 columnas */
.grilla3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Estilos para grillas de 2 columnas */
.grilla2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* Estilos para los selectores */
select {
    background-color: inherit;
    color: inherit;
    border-radius: 0.5rem;
}
/* Estilos para las opciones dentro de los selectores */
option {
    color: black;
}


/* header */
/* Estilos para posicionar el icono sol/luna */
.posicionIcono {
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
    margin-right: 50px;
}
/* Cambia el cursor a una mano cuando se pasa sobre el icono */
.bi {
    cursor: pointer;
}
/* Estilos para el contenedor de los iconos */
.contenedorColor {
    background-color: inherit;
    color: inherit;
    border: none;
}
/* Estilo para cambiar oscuro/claro */
.modo-oscuro {
    background-color: black;
    color: white;
}
/* Estilos del input usuarios */
.inputNombre {
    cursor: default;
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    text-transform: uppercase;
    text-align: center;
}

/* clima */
/* Estilos para el contenedor de clima */
#clima {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 2rem;
}
/* Estilos para la posición del texto dentro del contenedor de clima */
.posicionTexto {
    margin: 1.5rem;
}

/* traductor */
/* Estilos para el text area del traductor */
textarea {
    background-color: inherit;
    color: inherit;
    resize: none;
}

.dimension {
    height: 3.5rem;
    align-self: center;
}

/* dado */
/* Estilos para el contenedor del dado */
.contenedorDado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilos para el título del dado */
.tituloDado {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
/* Estilos para el dado */
.dadoSalido {
    width: 40px;
    border: white 1px solid;
    border-radius: 50px;
    background-color: white;
    display: flex;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .grilla2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .grilla3 {
        display: grid;
        grid-template-columns: 1fr;
    }
    .mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .dadoSalido {
        margin: 0 4px;
    }
    .posicionIcono {
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 10px;
      margin-right: 10px;

    }
  }